.page {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  font-family: "Onest", sans-serif;
}

.ReactMic {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Onest", sans-serif;

  &:hover {
    background-color: #145ba3;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:disabled {
    background-color: rgb(170, 170, 170);
    color: rgb(84, 84, 84);
    cursor: default;
  }

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="file"],
input[type="checkbox"] {
  margin-top: 0.5rem;
}
