.page {
  width: 100%;
  height: 100%;


}

.App form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.App form input[type="text"],
.App form input[type="file"] {
  padding: 0.5em;

  //background-color: #f2f2f2;
  color: white;
}

.App form input[type="submit"] {
  //background-color: white;
  //color: #1f222e;
  //padding: 0.5em;
  //border: none;
  //cursor: pointer;

  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  color: #1f222e;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Onest", sans-serif;

  &:hover {
    background-color: rgba(31, 34, 46, 0.05);
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

}

//.App form input[type="submit"]:hover {
//  background-color: white;
//}


.ReactMic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //width: 300px;
  //height: 300px;
  //border-radius: 50%;
  //background-color: #1f222e;
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;

  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: #1f222e;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Onest", sans-serif;

    &:hover {
      background-color: white;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}